%h4 Assignment
= text_field_tag "assignment[#{count}][name]", nil, placeholder: "Enter Assignment Name"
%br
= select_tag "assignment[#{count}][day_class_id]", options_from_collection_for_select(@day_classes, 'id', 'name'), prompt: "Select Class"
%br
= text_field_tag "assignment[#{count}][due_date]", nil, class: 'showcal', placeholder: "Enter Date"
%br
