.assignment-form
  %h4 Assignment

  = label_tag :name, 'Assignment Name'
  = text_field_tag "assignment[#{count}][name]"
  = label_tag :class
  = select_tag "assignment[#{count}][day_class_id]", options_from_collection_for_select(@day_classes, 'id', 'name')
  = label_tag :due_date
  = text_field_tag "assignment[#{count}][due_date]", nil, class: 'showcal'
  %br