%h2= "#{@group.teacher_first_name} #{@group.teacher_last_name}"

.report
  %h3= "Complete: #{@group.complete_percentage.to_i}% Incomplete: #{@group.incomplete_percentage.to_i}%"

%table.table.table-striped#show_class_table
  %thead
    %tr
      %th
        Students
      %th
        School
      %th
        Complete
      %th
        Incomplete
      %th
        %span.label.label-info
          %i.icon-edit
          =link_to "edit class", edit_group_path(@group.id), class: "button_link"
        &nbsp;
        %span.label.label-important
          %i.icon-trash
          =link_to "delete class", group_path(@group), method: :delete, data: {confirm: "Are you sure?"}, class: "button_link"
    %tr
      -@group.students.each do |student|
        %td
          = link_to student.name, group_student_path(@group.id, student.id)
        %td
          = student.school.name
        %td
          =student.complete_percentage.to_s + "%"
        %td
          =student.incomplete_percentage.to_s + "%"
