%h1 Schools
%ul.nav.nav-list
  %li.divider

.row
  .span7
    - @schools.each do |school|
      %h3 
        = link_to "#{school.name}", edit_school_path(school), class: "title-link"
        %span.label.label-success
          %i.icon-plus
          = link_to "add class", new_school_day_class_path(school_id: school.id), class: "button_link"
        %span.label.label-success
          %i.icon-plus
          = link_to "add teacher", new_school_teacher_path(school_id: school.id), class: "button_link"

      %table.table.table-striped
        %tr
          %th Teacher
          %th Period
          %th Subject
          %th
          %th
        - school.teachers.each do |teacher|
          - teacher.day_classes.each do |day_class|
            %tr
              %td
                = link_to "#{teacher.first_name} #{teacher.last_name}", edit_teacher_path(teacher), class: "teach-link"
              %td
                = "#{day_class.period}"
              %td
                = "#{day_class.subject}"
              %td
                %span.label.label-info
                  %i.icon-edit
                  = link_to "edit class", edit_day_class_path(day_class), class: "button_link"
              %td
                %span.label.label-important
                  %i.icon-trash
                  = link_to "delete class", day_class_path(day_class), class: "button_link", method: "delete", confirm: "Are you sure you want to delete this class?"


